<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'forum_home' %}">Forum</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'report' %}">Report</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'category_progress' offset=0%}">Weekly Progress</a></li>
        <li><a class="dropdown-item" href="{% url 'category_list' %}">Manage Categories</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'my_activity' %}?num_items=10">Activity</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Rewards
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'challenge_list' %}">Challenges</a></li>
        <li><a class="dropdown-item" href="{% url 'my_challenges' %}">My Challenges</a></li>
        <li><a class="dropdown-item" href="{% url 'achievement_list' %}">Achievements</a></li>
        <li><a class="dropdown-item" href="{% url 'my_achievements' %}">My Achievements</a></li>
      </ul>
    </li>
    {% if request.user.is_superuser or request.user.is_staff %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_dashboard'  %}">Dashboard</a>
    </li>
    {% endif %}


  </ul>

  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    {% if notifications.count == 0 %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'notifications' %}">Notifications ({{notifications.count}})</a>
    </li>
    {% elif notifications.count > 0 %}
    <li class="nav-item">
      <a class="nav-link" style="color:rgb(146, 36, 36)" href="{% url 'notifications' %}"> <b>Notifications ({{notifications.count}}) </b></a>
    </li>
    {% endif %}
      <a class="nav-link" href="{% url 'expenditure_bin' %}">Bin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">  {{user.username}} </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class='bi-person-circle' style='font-size: 1.25rem'></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-light">
        <li><a class="dropdown-item" href="{% url 'profile' user.id %}"> My Profile </a></li>
        <li><a class="dropdown-item" href="{% url 'edit_user' %}"> Edit Profile </a></li>
        <li><a class="dropdown-item" href="{% url 'change_password' %}"> Change Password </a></li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}"> Log out </a></li>
      </ul>
    </li>
  </ul>
</div>
