{% extends 'base_content.html' %}
{% load static %}
{% block content %}
<div class='container'>
    <div class='row'>
        {% if achievements %}
            <div class = 'card' style="margin: auto; padding: 20px">
                <h2 style="text-align: center">Achievements</h2>
                <div class="row">
                    {% for achievement in achievements %}
                        <div class="col-md-3" style="display: inline-block">
                            <div class="card-body" style="text-align: center">
                                <img src="{% static achievement.badge %}">
                                <h5 class="card-title">{{ achievement.name }}</h5>
                                <p class="card-text">Description: {{ achievement.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class = 'card' style="margin: auto; max-width: 350px; text-align: center; padding: 20px">
                <h1 style="text-align: center">Achievements</h1>
                <p>There are no achievements yet.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}