{% extends 'base_content.html' %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class = 'card' style="margin: auto; max-width: 350px; text-align: center; padding: 20px">
            <h2>{{ challenge.name }}</h2>
            <p>Description: {{ challenge.description }}</p>
            <p>Points: {{ challenge.points }}</p>
            <p>Start date: {{ challenge.start_date }}</p>
            <p>End date: {{ challenge.end_date }}</p>
            {% if user.is_authenticated %}
                <form method='post' action="{% url 'enter_challenge' %}">
                    {% csrf_token %}
                    <input type='hidden' name='challenge_id' value='{{ challenge.id }}'>
                    <button type="submit" class='btn btn-primary'>Enter Challenge</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}