{% extends 'base_content.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <div class="card full-card">
        <!-- filter tools html -->
        <div>
            <!-- Search bar for title filter -->
            <div class="filter_search">
                <form action="{% url 'filter_title' %}" method="GET">
                    <input id="inputted_title" name="q" type="text" onblur="this.form.submit()" placeholder="Search by title">
                    <button type="submit" class="btn btn-md go">Go</button>
                    <a id="refresh_table_button" class="btn btn-md btn-dark refresh" href='{% url 'expenditure_list' %}'>↺</a>
                </form>
            </div>
            <!-- Drop down for category filter -->
            <div class="filter_dropdown">
                <form action="{% url 'filter_category' %}" method="GET">
                    <label for="selected_category">Show:</label>
                    <select class="form-select filters" id = "selected_category" name="q" onchange="this.form.submit()" >
                        <option>All</option>
                        {% for category in categories %}
                            <option value= {{ category.id }}>{{category}}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <!-- Drop down for general filter -->
            <div class="filter_dropdown">
                <form action="{% url 'filter_miscellaneous' %}" method="GET">
                    <label for="selected_filter">Filter by:</label>
                    <select class="form-select filters" id = "selected_filter" name="q" onchange="this.form.submit()">
                        <option value="new">Latest</option>
                        <option value="old">Oldest</option>
                        <option value="desc">Descending expense</option>
                        <option value="asc">Ascending expense</option>
                    </select>
                </form>
        </div>
    <!-- table html -->
    <form id="expenditure_form" method="POST">
                {% csrf_token %}
            <table class="table mainTable">
        </div>
            <thead class="mainThead">
                <tr>
                    <th width="0px" scope="col" >Category</th>
                    <th width="120px" scope="col" >Title</th>
                    <th width="110px" scope="col">Expense</th>
                    <th width="100px" scope="col">Time</th>
                    <th width="640px" scope="col" >Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="mainTbody">
                <div class="scroll">
                    {% for spending in spendings %}
                        <tr>
                            <td width="80px">{{ spending.category }}</td>
                            <td width="120px">{{ spending.title }}</td>
                            <td width="90px">£{{ spending.expense }}</td>
                            <td width="130px">{{ spending.date_created }}</td>
                            <td width="680px">{{ spending.description }}</td>
                            {% if spending.image %}
                                <td >
                                    <input value="❕" class="image_button" type="button" data-bs-toggle="modal" data-bs-target="#image_modal{{ forloop.counter }}">
                                </td>
                                    <!-- image modal -->
                                    <!-- modal used to view images -->
                                    <div class="modal fade" id="image_modal{{ forloop.counter }}" tabindex="-1" aria-labelledby="image_modal_label" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="image_modal_label">Viewing Image</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p style="text-align:center;"><img class = "image" src="{{ spending.image.url }}" alt="expenditure image"></p>
                                                    </div><div class="modal-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% else %}
                                <td><input value="❔" class="image_button_locked" type="button"></td>
                            {% endif %}
                            <td style="background-color: #efe8fa;"><a class = "btn btn-sm clear" href="{% url 'update_expenditure' spending.id %}"> ⚙️ </a></td>
                            <td style="background-color: #efe8fa;">
                                <div class="action_button" >
                                    <label>
                                        <input class="action_button" type="radio" name="radio_pk" data-bs-toggle="modal" data-bs-target="#bin_modal" value = {{ spending.id }} > 🗑
                                    </label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </div>
            </tbody>
        </table>
    </form>
</div>
<!-- bin modal -->
<!-- modal used as bin confirmation -->
<div class="modal fade" id="bin_modal" tabindex="-1" aria-labelledby="bin_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bin_modal_label">Move Expenditure to Bin</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to move this expenditure into the bin?</p>
                <p>You may recover or fully delete this expenditure inside the bin page</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger"  form="expenditure_form" formaction = "../bin_expenditure" method="POST">Bin</button>
            </div>
        </div>
    </div>
</div>

<!-- javascript for persisting drop down selection after onchange function occurs -->
<script> 
    $('#selected_category').on('change', function() {
        localStorage.setItem("selected_category", $(this).val());
    });
    $('#selected_filter').on('change', function() {
        localStorage.setItem("selected_filter", $(this).val());
    });
// $('#selected_filter').on('change', function() {
//     localStorage.setItem("selected_filter", $(this).val());
// });
    $(document).ready(function() {
        if (localStorage.getItem("selected_category")){//&&!(localStorage.getItem("selected_filter"))) {
            $('#selected_category').val(localStorage.getItem("selected_category"));

            // find way to reset table
        } else if (localStorage.getItem("selected_filter")){
            $('#selected_filter').val(localStorage.getItem("selected_filter"));
        }   

        if (!(performance.navigation.type == 1)) {
            localStorage.clear();
        } 
    }
);
</script>
{% endblock %}
