{% extends 'base_content.html' %}
{% block content %}
<div class='container'>
    <div class='row'>
        {% if user_challenges %}
            <div class = 'card' style="margin: auto; padding: 20px">
                <h2 style="text-align: center">My Challenges</h2>
                <div class="row">
                    {% for user_challenge in user_challenges %}
                        <div class="col-md-3" style="display: inline-block; position: relative">
                            <div class="card-body" style="text-align: center; padding-bottom: 30px;">
                                <h5 class="card-title">{{ user_challenge.challenge.name }}</h5>
                                <p class="card-text">Date entered: {{ user_challenge.date_entered }}</p>
                                {% if user_challenge.date_completed %}
                                    <p class="card-text">Date completed: {{ user_challenge.date_completed }}</p>
                                {% else %}
                                    <p class="card-text">Not completed</p>
                                {% endif %}
                                <div class="share-btn" style="position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto; width: 80%">
                                    <a class="btn btn-primary btn-sm" href="{% url 'share_challenge' user_challenge.id %}">Share</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class = 'card' style="margin: auto; max-width: 350px; text-align: center; padding: 20px">
                <h1 style="text-align: center">My Challenges</h1>
                <p>You haven't entered any challenges yet.</p>
                <a class="btn btn-primary btn-sm" href="{% url 'challenge_list' %}" role="button">View challenges</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}