{% extends 'base_content.html' %}
{% load static %}
{% block content %}

<div class='container'>
    <div class='row'>
        <div class = 'card' style="margin: auto; max-width: 350px; text-align: center; padding: 20px">
            <h2>Share {{ type }}</h2>
            {% if type == 'avatar'%}
                <img src="{% static media %}" style="max-width: 100%; height: auto; border: 5px solid {{ user_tier_colour }}; margin-bottom: 1rem" />
            {% elif type == 'achievement' %}
                <img src="{% static media %}" style="max-width: 100%; height: auto; margin-bottom: 1rem" />
            {% elif type == 'post' or 'comment' or 'reply' %}
                {% if media %}
                    <img class = "media" src="{{ media.url }}" style="max-width: 100%; height: auto; margin-bottom: 1rem">
                {% endif %}
            {% endif %}
            <p>Name: {{ name }}</p>
            <p>Description: {{ description }}</p>
            <div class='share-buttons'>
                {% for site, share_url in share_urls.items %}
                    <div class='share-link' style="display: inline-block; margin-right: 10px">
                        <a href="{% url 'handle_share' %}?type={{ type }}&name={{ name }}&site={{ site }}&share_url={{ share_url|urlencode }}&media={{ media }}" target='_blank'>
                            <img src="{% static 'logos/' %}{{ site }}.png" alt="{{ site }} logo">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}