
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <title> {{title}} </title>
 
    <link rel="stylesheet" href={% static "forum_static/style.css" %}/>
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap"/>
</head>
    <body>

        <header>
            <!--- Navbar --->
            <div class="navbar">
                <nav class="navigation hide" id="navigation">
                    <ul class="nav-list">
                        <span class="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
                        <li class="nav-item">
                            <a href="../detail/"> Detail </a>
                        </li>
                        <li class="nav-item">
                            <a href="../posts/"> Posts </a>
                        </li>
                        <li class="nav-item">
                            <a href="../forum_home/"> Forum </a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
                <div class="brand"> My Forum </div>
                
            </div>
            <!---Search Box--->
                <form action="{% url 'search_result' %}" role="form" method="GET">
                <div class="search-box">
                    <div>
                        <select name="" id="" style="border-radius: 10px;">
                            <option value="everything"> Everything </option>
                            <option value="titles"> Titles </option>
                            <option value="description"> Description </option>
                        </select>
                        <input type="text" name="q" id="" placeholder"search ..." style="background-color: white; opacity: 0.5; border-radius: 10px;"></input>
                        <button type="submit" name ="search" style="border-radius: 50px 50px 50px 50px;"><i class="fa fa-search"></i></button>
                    </div>
            </div>
        </form>
        </header>
        <div>
            {% if user.is_authenticated %}
                <div style="font-size: 15px; font-weight:200px; margin-right:50px; margin-top:50px; margin-bottom:0px; text-align:right;"><a href="{% url 'create_post' %}"> <u> Add New Post  </u> </a></div>
                {% endif %}
        </div>

    {% block content %}
    {% endblock content %} 


        
    <footer>

        <span>&copy; &nbsp; Open Source | Selmi Abderrahim | Extended Implementation By Team Galin | All Rights Reserved </span>

    </footer>
        <script src={% static "forum_static/main.js" %}></script>
    </body>
</html>
