{% extends 'base.html' %}
{% block body %}
<div id="cover-image">
    <div class="container vh-100">
        <div class="row h-100">
            <div class="my-auto">
                <div class="card cover-card">
                    <p></p><p></p>
                    <p class="cover-text" style="font-weight:bold; text-align:center">Password Reset</p>
                    <p>Success! Your password has been changed.</p>
                    <div style="text-align:center; position:fixed; left:0; right:0; top:64%"> <a href = '{% url 'home' %}'>Click here to log in↗</a> </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}