{% extends 'base.html' %}
{% block body %}
<div id="cover-image">
    <div class="container vh-100">
        <div class="row h-100">
            <div class="my-auto">
                <div class="card cover-card">
                    <p></p><p></p>
                    <p class="cover-text" style="font-weight:bold; text-align:center">Password Reset</p>
                    <p>We have sent you reset password link to your email. Please Check your email.</p>
                    <p> If you did not receive an email, please check you have entered a valid/registered email address </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}